body {
    font-family: 'Roboto', sans-serif;
  }
  
  .green {
    background-color: #28A745;
  }
  
  .navbar-brand img {
    max-width: 120px;
    height: auto;
  }
  
  .menu {
    font-weight: 300;
    font-size: 1.0625rem;
  
  }
  
  .text-1 {
    font-weight: 300;
    font-size: 1.125rem;
    color: #212529;
  }
  
  .text-2 {
    font-weight: 300;
    font-size: 1rem;
  }
  
  .text-3 {
    font-weight: 300;
    font-size: 0.8125rem;
  }
  
  .cupones {
    font-size: 1.3125rem;
    color: #FFFFFF;
  }
  
  .gris {
    background-color: #F8F9FA;
  }
  
  .logo-footer img {
    max-width: 100px;
    height: auto;
  }
  
  .precio {
    color: #28A745;
    font-size: 1.25rem;
  }
  
  .text-right{
    color: #707070;
    font-size: 1rem;
  }
  
  .color-enviar {
    color: #212529;
  }